<h3>Ask A Question... 🚀</h3>

<form action="/answer" method="get">
        <input type="text" class="input" name="ask" placeholder="Ask a question">
        <input type="submit" class="button" value="SUBMIT">
      </form>
